:root{
    --baltic:#222831;
    --charcoalgrey:#393E46;
    --bluekoi:#6797ca;
    --seashell:#EEEEEE;
}

body{
    background-color: var(--charcoalgrey);
}

#navAndHero{
    background-color: var(--baltic);
    height:auto;
    padding: 15px;
    width: max;
    border-bottom-left-radius:  25%;
    box-shadow: 0px 0px 10px 0px var(--bluekoi);
}

ul{
    list-style-type:none;
    color:var(--seashell);
    overflow: hidden;
}

li{
    float:left;
    padding: 16px;
    
}

hr{
    border-top: 8px solid var(--bluekoi);
}

#headShot{
    padding-top: 25px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100%;
    filter:brightness(80%);
    filter:drop-shadow(10px);
}

#navAndHero > h1{
    text-align: center;
    color: var(--seashell);
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

#skillsAndLanguages{
        color: var(--seashell);    

}

#skillsAndLanguages h2{
    margin: 100px 0px 50px 100px;
}

.row {
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    column-gap: auto;
}

.column {
    width: 50%; /* Each column takes up one-third of the available width */
}

